<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-12 title">
        <h1>Team Generator</h1>
      </div>
      <div class="col-6 detail">
        <div class="row">
          <div class="col-10 input">
            <input type="text" name="" #addMemberInput (input)="onInput(addMemberInput.value)" [value]="newMemberName" placeholder="Name">
          </div>
          <div class="col-2 button">
            <button (click)="addMember()">Add</button>
          </div>
          <div class="col-12 mt-4 mb-4 memberSection">
            <div class="row">
              <div class="col-3 members" *ngFor="let member of members">
                <p>{{member}}</p>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
          <div class="col-5 input">
            <input type="number" #numberOfTeams (input)="onNumOfTeamsInput(numberOfTeams.value)" [value]="numOfTeams" placeholder="# of teams">
          </div>
          <div class="col-3 button">
            <button (click)="generateTeams()">Generate</button>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="col-6 team">
        <div class="row">
          <app-team class="col-6" *ngFor="let team of teams; let i = index" [team]="team" [index]="i"></app-team>
        </div>
      </div>
    </div>
  </div>
</section>